*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background: #1a2a33;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 215px;
  padding-bottom: 214px;
}
main .logo {
  height: 32px;
  width: 71.9703979492px;
  margin-bottom: 40px;
}
main .container-pick {
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
main .container-pick h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #a8bfc9;
  margin-bottom: 24px;
}
main .container-pick .marks-container {
  background: #1a2a33;
  border-radius: 10px;
  padding: 9px;
  height: 72px;
  width: 412px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}
main .container-pick .marks-container .x-container,
main .container-pick .marks-container .o-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
main .container-pick .marks-container .x {
  height: 32px;
  width: 32px;
}
main .container-pick .marks-container .o {
  height: 31.7412014008px;
  width: 31.7412014008px;
}
main .container-pick .marks-container .o-container {
  background: #a8bfc9;
  border-radius: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
}
main .container-pick p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.875px;
  /* Silver */
  color: #a8bfc9;
  mix-blend-mode: normal;
  opacity: 0.5;
}
main .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .buttons .vs-cpu,
main .buttons .vs-player {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #1a2a33;
  border-radius: 15px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 460px;
}
main .buttons .vs-cpu {
  background: #f2b137;
  box-shadow: inset 0px -8px 0px #cc8b13;
  margin-bottom: 20px;
}
main .buttons .vs-player {
  background: #31c3bd;
  box-shadow: inset 0px -8px 0px #118c87;
}

/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 119px 24px;
  }
  main .logo {
    height: 32px;
    width: 71.9703979492px;
    margin-bottom: 40px;
  }
  main .container-pick {
    width: 100%;
    background: #1f3641;
    box-shadow: inset 0px -8px 0px #10212a;
    border-radius: 15px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  main .container-pick h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #a8bfc9;
    margin-bottom: 24px;
  }
  main .container-pick .marks-container {
    background: #1a2a33;
    border-radius: 10px;
    padding: 9px;
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
  }
  main .container-pick .marks-container .x-container,
  main .container-pick .marks-container .o-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  main .container-pick .marks-container .x {
    height: 32px;
    width: 32px;
  }
  main .container-pick .marks-container .o {
    height: 31.7412014008px;
    width: 31.7412014008px;
  }
  main .container-pick .marks-container .o-container {
    background: #a8bfc9;
    border-radius: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  main .container-pick p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #a8bfc9;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  main .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  main .buttons .vs-cpu,
  main .buttons .vs-player {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #1a2a33;
    border-radius: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 100%;
  }
  main .buttons .vs-cpu {
    background: #f2b137;
    box-shadow: inset 0px -8px 0px #cc8b13;
    margin-bottom: 20px;
  }
  main .buttons .vs-player {
    background: #31c3bd;
    box-shadow: inset 0px -8px 0px #118c87;
  }
}
/*############ for-tablet-portrait-up ##############*/
/*############ for-tablet-landscape-up #############*/
/*############ for-desktop-up ###########*/
/*############ for-big-desktop-up ##########*//*# sourceMappingURL=style.css.map */